.searchpage-container {
  display: flex;
  background-color: white;
}

.cards-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  width: 60%;
  padding: 24px;
}

.searchpage-container a {
  color: black;
  text-decoration: none;
  color: #2B2A2A;
}









