<div class="banner">
  <div class="banner-title">
    <h1>Le bonheur se partage</h1>
    <p>La solution idéale pour votre location de piscine.</p>
    <%= link_to "Voir les piscines", swimming_pools_path, {class: "btn btn-primary"} %>
  </div>
</div>

