.card-product {
  overflow: hidden;
  background: white;
  border-radius: 2px;
}

.card-product:hover {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 2px;
}

.card-product > img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.card-product-infos .card-product-pricing {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.card-product-pricing h2 {
  font-size: 24px;
  color: #07B2FF;
}

.card-product-infos span {
  font-size: 12px;
}

.card-product-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.booking-swimming-pool-info {
  padding: 16px;
}


