.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

#map {
  width: 40%;
  height: 91vh;
  position: sticky;
  top: 64px;
}
